The source code of this example is here:
<a href="http://isdckft.com/tutorial/ml/" target="_blank" rel="noopener noreferrer">TensorFlow basic example</a>
<br>

<button type="submit" class="btn btn-success"  (click)="runLinRegDemo()">Run Linear Regression</button>

Result: {{rank}}
<hr>
<button type="submit" class="btn btn-success"  (click)="displayTensors()">Display Tensors</button> <br>
Tensor A: {{tensorA}} <br>
Tensor B: {{tensorB}} <br>
Tensor 2D : {{tensor2D}} <br>
Tensor zeros : {{tensorZeros}} <br>
TensorAdd : {{tensorAdd}} <br>
Predict(2) : {{pred}} <br>

