
  <h1>TensorFlow.js Layers: Sequence-to-Sequence (English-Hungarian Translation) Demo</h1>
  <div class="create-model">
    <button id="load-pretrained-remote" style="display:none">Load hosted pretrained model</button>
    <button id="load-pretrained-local" style="display:none">Load local pretrained model</button>
  </div>
  <div>
    <span id="status">Standing by.</span>
  </div>
  <hr>
  <div class="input-div">
    <span class="input-output-label">Input English sentence:</span>
    <input id="englishSentence" size=16 maxlength="16">
  </div>
  <div class="input-div">
    <span class="input-output-label">Output Hungarian sentence:</span>
    <span class="output" id="hunSentence"></span>
  </div>


 
